<!-- #1 -->
<% if(comment) { %>
 <div style="width: 50%">
   <hr>
   <small class="card-subtitle mb-2 text-muted">
      <a  href="/users/<%= comment.User.id %>"><%= comment.User.email %></a> <%= comment.createdAt %>
      <% if(currentUser && (currentUser.id === comment.userId || currentUser.isAdmin())) { %>
        <form style="display:initial"
              action="/topics/<%= post.topicId %>/posts/<%= post.id %>/comments/<%= comment.id %>/destroy"
              method="post">
          <button type="submit" class=" btn-outline-danger">Delete</button>
        </form>
      <% } %>
   </small>
   <p>
     <%= comment.body %>
   </p>



 </div>
<% } %>
